<div class="container">

  <mat-slide-toggle class="botonToggle" (change)="onOcultarDetalle($event)" [checked]="false">Mostrar detalles</mat-slide-toggle>

<div class="mat-elevation-z3 historialTabla">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="orden">
      <th mat-header-cell *matHeaderCellDef>Orden</th>
      <td mat-cell *matCellDef="let element; let i = index">{{element.orden}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInicio |date :'dd-MMM-yy hh:mm a'}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="nombreActividad">
      <th mat-header-cell *matHeaderCellDef> Actividad </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreActividad}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef> Fecha final </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaFin |date :'dd-MMM-yy hh:mm a' }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="tipoActividad">
      <th mat-header-cell *matHeaderCellDef> Tipo actividad</th>
      <td mat-cell *matCellDef="let element"> {{element.tipoActividad  }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="tiempoSolucion">
      <th mat-header-cell *matHeaderCellDef> <p>Tiempo solución</p> <p> (hh:mm:ss) </th>
      <td mat-cell *matCellDef="let element"> {{element.tiempoSolucion | calcularVencimientoPipe}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="comentario">
      <th mat-header-cell *matHeaderCellDef> Comentario </th>
      <td mat-cell *matCellDef="let element"> {{element.comentario }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row let i = index; columns: displayedColumns;"
    [class.pendiente]="row.fechaFin == null"></tr>
  </table>


</div>
