.container{
  width: 80%;
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  //display: flex;

}

.mat-elevation-z8{
width: 60%;
}

table{
  width: 100%;
}

.botonActivar{
  background-color: lightcoral;
  width: 120px;
}

.botonSuspender{
  background-color: mediumseagreen;
  width: 120px;
}
